body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

button:not(.searchButton) {
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

button:disabled {
    color: #adadad;
}

header {
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: crimson;
}

main {
    flex-grow: 1;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    padding: 20px;
    z-index: 1;
}
