body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

button:not(.searchButton) {
    padding: 10px;
    border-radius: 5px;
    text-transform: capitalize;
}

button:disabled {
    color: #adadad;
}

header {
    display: flex;
    justify-content: center;
    z-index: 1;
    background-color: crimson;
    h1 {
        text-align: center;
    }
    a {
        position: fixed;
        top: 15px;
        right: 15px;
        font-size: 5rem;
        text-decoration: none;
        color: whitesmoke;
    }
}

main {
    flex-grow: 1;
    position: relative;
}

footer {
    display: flex;
    justify-content: center;
    background-color: goldenrod;
    padding: 20px;
    z-index: 1;
}
