.movieNominations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    padding-top: 50px;
}

.nominations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    min-height: 500px;
    background-color: goldenrod;
    transition: height 0.5s, min-height 0.5s;
    &.hidden {
        height: 0;
        min-height: 0;
        .nominationsContainer, p {
            display: none;
        }
    }
    &.hidden ~ .collapseNominations {
        transform: rotateZ(0);
        margin-top: 0;
    }
    p {
        flex-grow: 1;
        display: flex;
        align-items: center;
    }
}

.nominationsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.movieContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 10px;
    figure {
        width: 200px;
        height: 350px;
        display: flex;
        align-items: flex-end;
        img {
            width: 100%;
        }
    }
    .movieDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        gap: 10px;
        h3 {
            width: 200px;
            text-align: center;
        }
    }
}

.collapseNominations {
    font-size: 3rem;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    transform: rotateZ(180deg);
    margin-top: 20px;
    cursor: pointer;
    i {
        animation: animateArrow 0.8s linear infinite;
    }
}

@keyframes animateArrow {
    0% {
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(2px);
        color: #DC143C;
    }
}

.popUp {
    width: 300px;
    height: 100px;
    background-color: whitesmoke;
    border-radius: 5px;
    position: fixed;
    z-index: 2;
    top: calc(50% - 50px);
    left: calc(50% - 150px);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s, opacity 0.4s, z-index 0.4s;
    &.hidden {
        transform: scale(0.8);
        opacity: 0;
        z-index: -1;
    }
}