.searchResults {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-end;
}

.movieContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    height: auto;
    margin: 10px;
    figure {
        width: 200px;
        height: 350px;
        display: flex;
        align-items: flex-end;
        img {
            width: 100%;
        }
    }
    .movieDetails {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        gap: 10px;
        h3 {
            width: 200px;
            text-align: center;
        }
    }
}