form.searchField {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: relative;
    input[type="text"] {
        width: 500px;
    }
    button {
        width: 150px;
    }
    .suggestions {
        position: absolute;
        z-index: 3;
        top: 60px;
        left: calc(50% - 330px);
        padding: 10px;
        background-color: whitesmoke;
        width: 500px;
        ul {
            display: flex;
            flex-direction: column;
        }
        li {
            list-style: none;
            margin: 5px 0;
        }
        a {
            text-decoration: none;
            color: #1b2456;
        }
    }
    .suggestions.hidden {
        padding: 0;
    }
}




